<app-preflight *ngIf="loading"></app-preflight>
<div class="jumbotron">
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <input class="primary" [(ngModel)]="item" name="item" (keyup.enter)="getMovie(item)" type="text" placeholder="Search Here..." aria-label="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                          <mat-option *ngFor="let option of options" [value]="option.original_title">
                            <a routerLink="/movies/{{option.id}}" title="{{option.original_title}}">{{option.original_title}}</a>
                          </mat-option>
                    </mat-autocomplete>
            </mat-form-field>
        </form>
    </div>
<div class="m10"></div>
<div class="container main-container animated fadeIn fast ">
    <div class="row">
        <div class="col-md-5">
       
            <img [src]="movies | movieArtwork" class="img-thumbnail img-fluid mt10">
        </div>
        <div class="col-md-7">
            <h3>{{ movies.original_title }}</h3>
            <hr>
            <h3>Sinopsis</h3>
            <hr>
            <p class="text-justify">
                {{ movies.overview }}
            </p>

            <p>
                Release Date: <span class="badge badge-secondary">{{ movies.release_date }}</span>
            </p>

            <button [routerLink]="['/'+return, results ]" type="button" class="btn btn-outline-secondary mb10">
                Back
            </button>
            
        </div>
    </div>
</div>

