.example-spacer {
  flex: 1 1 auto;
}

.example-form {
  min-width: 150px;
  // max-width: 500px;
  width: 100%;
}

.space-10{
  margin-bottom: 20px;
}

form {
  display: inline-block;
}

.example-full-width {
  width: 100%;
}
.primary{
  color: #2A9FD6 !important;
}

.mat-input-element {
  caret-color: #2A9FD6 !important;
}

.mat-focused .mat-form-field-label {
  color: #2A9FD6 !important;
}
.mat-form-field-ripple {
  background-color: #2A9FD6 !important;
}

.mat-form-field-underline {
  /*change color of underline*/
   background-color: #2A9FD6 !important;
} 

.mat-form-field-placeholder{
  background-color: #2A9FD6 !important;
  color:#2A9FD6 !important;
}

.mat-focused .mat-form-field-placeholder{
  background-color: #2A9FD6 !important;
  color:#2A9FD6 !important;
}

.mat-input-element::placeholder{
  color:#2A9FD6 !important;
}
.mat-input-element::-moz-placeholder{
  color:#2A9FD6 !important;
}
.mat-input-element::-webkit-input-placeholder{
  color:#2A9FD6 !important;
}
.mat-input-element:-ms-input-placeholder{
  color:#2A9FD6 !important;
}
.mat-accent .mat-input-element{
  caret-color:#2A9FD6 !important;
}

.jumbotron {
  background-color: #fff;
}